* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: rgb(87, 37, 37) url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
h1 {
    color: #ffffff;
}
header {
    background-color: aquamarine;
}